<div class="container-fluid" style="margin-top: 30px; margin-bottom: 30px;">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <div class="card content-block">
        <div class="card-body">
          <div *ngFor="let token of currentSentence.tokens" class="d-inline-block">
            <button
              type="button"
              class="btn btn-light btn-token"
              (click)="assignLabel(token)"
              placement="top"
              [ngbTooltip]="token.label"
              [ngClass]="{
                'first-name-token': token.label === 'FIRSTNAME',
                'last-name-token': token.label === 'LASTNAME',
                'appellativum-token': token.label === 'APPELLATIVUM',
                'organization-token': token.label === 'ORGANIZATION',
                'title-token': token.label === 'TITLE',
                'position-token': token.label === 'POSITION',
                'kinship-token': token.label === 'KINSHIP',
                'property-token': token.label === 'PROPERTY'
              }">
                <span *ngIf="token.belongsTo" class="badge badge-secondary">{{ token.belongsTo }}</span>
                {{ token.text }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card content-block">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Entities</h5>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="first-name"
                value="FIRSTNAME"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label" for="first-name">First name</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="last-name"
                value="LASTNAME"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label" for="last-name">Last name</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="appellativum"
                value="APPELLATIVUM"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label" for="appellativum">Appellativum</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="organization"
                value="ORGANIZATION"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label" for="organization">Organization</label>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Attributes</h5>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="title"
                value="TITLE"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label" for="title">Title</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="position"
                value="POSITION"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label" for="position">Position</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="kinship"
                value="KINSHIP"
                [(ngModel)]="selectedLabel">
              <label class="kinship custom-control-label" for="kinship">Kinship</label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="property"
                value="PROPERTY"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label property" for="property">Property</label>
            </div>
          </li>
          <li class="list-group-item">
            <h5>Identifier</h5>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                id="relates-to"
                value="RELATED"
                [(ngModel)]="selectedLabel">
              <label class="custom-control-label" for="relates-to">
                <input type="number" class="form-control form-control-sm" id="identifier" [(ngModel)]="belongsTo">
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-5 text-center">
      <button type="button" class="btn btn-lg btn-success" (click)="submitAnnotation()"><i class="fas fa-check"></i></button>
      <button type="button" class="btn btn-lg btn-danger"  (click)="dismissAnnotation()"><i class="fas fa-times"></i></button>
    </div>
    <div class="col"></div>
  </div>
</div>
