.content-block {
    margin-top: 70px;
    margin-bottom: 35px;
}

.btn-token {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-success {
    margin-right: 2%;
    width: 49%;
}

.btn-danger {
    width: 49%;
}

.knowledge-base {
    max-height: 400px;
    overflow-y: scroll;
}

#relates-to {
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

#relates-to-as {
    width: 50px;
    margin-left: 5px;
}

.label-badge {
    margin-right: 5px;
}

.first-name {
    background-color: '#800000' !important;
    font-weight: bold;
}

.first-name-token {
    background-color: rgb(230, 25, 75, .5);
}

.last-name {
    color: '#9A6324';
}

.last-name-token {
    background-color: rgb(60, 180, 75, .5);
}

.appellativum {
    color: '#808000';
}

.appellativum-token {
    background-color: rgb(255, 225, 25, .5);
}

.organization {
    color: '#e6194B';
}

.organization-token {
    background-color: rgb(0, 130, 200, .5);
}

.title {
    color: '#469990';
}

.title-token {
    background-color: rgb(245, 130, 48, .5);
}

.position {
    color: '#000075';
}

.position-token {
    background-color: rgb(145, 30, 180, .5);
}

.kinship {
    color: '#4363d8';
}

.kinship-token {
    background-color: rgb(170, 255, 195, .5);
}

.property {
    color: '#911eb4';
}

.property-token {
    background-color: rgb(128, 128, 0, .5);
}

#identifier {
    height: 25px;
}